@import '../../variables';

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: $sce-background-color;

    .profile-banner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $sce-primary-color;
        padding: 2rem 0;
        margin-bottom: 2rem;

        .profile-details {
            h3 {
                font-size: 2rem;
                margin-bottom: 0.5rem;
                color: $sce-text-color;
            }

            p {
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
                color: $sce-text-color;

                strong {
                    color: $sce-text-color;
                }
            }
        }
    }

    .content {
        width: 90%;
        max-width: 1200px;
    }

    .ongoing-section,
    .due-section,
    .teacher-section {
        margin-bottom: 3rem;

        h4,
        h5 {
            font-size: 2rem;
            margin-bottom: 1rem;
            color: $sce-text-color4;
        }
    }


    .item-card {
        height: 100%;

        .card {
            background: #fff;
            border-radius: 10px;
            padding: 1.5rem;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
        }

        .card-header {
            display: flex;
            flex-direction: column;

            span {
                font-size: 1rem;
                display: block;
                font-weight: bold;

            }

            :nth-child(2) {
                text-align: center;
            }
        }

        .card-content {
            margin-bottom: 1rem;

            p {
                margin: 0;
                font-size: 0.9rem;
                color: #555;
            }
        }

        .card-actions {
            display: flex;
            justify-content: flex-end;

            button {
                padding: 0.5rem 1rem;
                border: 1px solid #f44336;
                border-radius: 5px;
                color: #f44336;
                background: transparent;
                font-size: 0.8rem;
                cursor: pointer;
                transition: background-color 0.2s, color 0.2s;

                &:hover {
                    background-color: #f44336;
                    color: #fff;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .content {
            width: 100%;
            padding: 0 1rem;
        }

        .item-card {
            .card {
                padding: 1rem;
            }
        }
    }
}