@import "../../../variables";

.admin-equipment-list {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;


    .title {
        font-weight: 600;
        font-size: 2rem;
        color: $sce-primary-color;
        margin: 20px 0;
        text-align: center;
    }

    .search-filters {
        margin-bottom: 20px;
    }



    .search {
        margin-bottom: 20px;
        width: 100%;
    }

    .filters {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

}

.equipment-list {
    margin: 0 auto;
    width: 100%;
    padding: 0 5rem;

    @media (max-width: 768px) {
        padding: 0;
    }
}

.items-grid {
    padding: 20px;

    .MuiGrid-container {
        justify-content: center;
    }

    .item-card {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.295);
        transition: all 0.3s ease;
        overflow: hidden;
        height: 140px;

        &:hover {
            transform: translateY(-5px);
        }

        &__details {
            flex: 1;
            padding: 16px;

            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 8px;
            }
        }

        &__title {
            font-size: 18px;
            font-weight: 500;
            color: #333333;
            margin: 0;
            text-align: center;
        }

        &__state {
            font-size: 14px;
            font-weight: 400;
            position: relative;
            top: 1rem;

            &--available {
                color: #4caf50;
            }

            &--taken {
                color: #f44336;
            }

            &--damaged {
                color: #ff5722;
            }

            &--in-maintenance {
                color: #ff9800;
            }
        }

        &__actions {
            padding: 8px 16px;
            background-color: $sce-background-color;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            align-items: center;
            justify-content: center;

        }

        &__button {
            font-size: 14px;
            font-weight: 500;
            text-transform: none;
            color: $sce-primary-color;

            &:hover {
                background-color: transparent;
                color: darken($color: $sce-primary-color, $amount: 10%);
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.item-modal {
    background-color: $sce-background-color;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 1rem;

    &__header {
        background-color: $sce-primary-color;
        color: $sce-background-color;
        font-size: 1.5rem;
        font-weight: bold;
        margin: -1rem -1rem 1rem;
        padding: 1rem;
        text-align: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }

        p {
            display: flex;
            gap: 0.5rem;

            &::before {
                content: attr(data-label);
                font-weight: bold;
            }
        }

        .item-modal__fields {
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;

            .item-modal__field {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                Select {
                    width: 200px;
                    height: 36px;
                }
            }
        }

        .item-modal__attributes {
            list-style: none;
            padding-left: 0;

            li {
                font-size: 14px;
                color: $sce-text-color-dark;
                margin-bottom: 5px;
            }
        }
    }

    &__actions {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        margin-top: 1rem;
    }

    .item-modal__button {
        background-color: $sce-primary-color;
        border-color: $sce-primary-color;
        color: $sce-background-color;

        &:hover {
            background-color: darken($sce-primary-color, 10%);
            border-color: darken($sce-primary-color, 10%);
        }
    }
}