@import "../../../variables";

.expanded-row {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  &__details {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 2rem;

    &__title {
      font-size: 1.1rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    &__information {
      .rtl & {
        text-align: right;
      }

      .ltr & {
        text-align: left;
      }

      font-size: 1rem;
      margin-bottom: 2rem;
    }
  }

  .UserInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 2rem;

    &__title {
      font-weight: bold;
      margin-bottom: 0.5rem;
      font-size: 1.1rem;
    }
  }
}