@import "../../variables";
@import '../../directions';

.item-info {
    background-color: darken($color: $sce-background-color, $amount: 10%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;

    &__title {
        color: $sce-primary-color;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    &__description {
        color: $sce-text-color3;
        margin-bottom: 1.5rem;

        .ltr & {
            font-size: 1.3rem;

            @media screen and (max-width: $breakpoint-small) {
                font-size: 1.1rem;

            }
        }

        .rtl & {
            font-size: 1.4rem;

            @media screen and (max-width: $breakpoint-small) {
                font-size: 1.2rem;

            }
        }


    }

    &__details {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    &__attribute-card {
        background-color: $sce-background-color;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: box-shadow 0.3s, transform 0.3s;
        width: 100%;
        height: 100%;

        &:hover {
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
            transform: translateY(-3px);
        }

        .MuiCardContent-root {
            padding: 0 !important;
            text-align: center !important;
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
            height: 100% !important;
        }



    }

    &__attribute-icon {
        font-size: 2rem;
        color: $sce-text-color;
        margin-bottom: 10px;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }

    &__attribute-text {
        font-size: 0.9rem !important;
        text-transform: capitalize;
        color: $sce-text-color3;

        @media screen and (max-width: $breakpoint-small) {
            font-size: 0.8rem !important;

        }

    }

    .MuiTypography-subtitle1 {
        font-weight: 600;
        text-transform: capitalize;
    }



}