.admin-equipment-management {
    display: flex;
    flex-direction: row;

    .management-section {
        flex: 1;
        padding: 2rem;
        background-color: rgb(163, 163, 163);
        color: #fff;
    }

    h2 {
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
    }

    .equipment-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;


        .form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;


            .name {
                width: 20%;

            }

            .description {
                width: 50%;
            }

            .quantity {
                width: 20%;

            }

            .type {
                width: 30%;

            }

            .safety-instructions {
                width: 50%;

            }

            .accompanying-equipment {
                width: 50%;

            }
        }
    }

    .submit-button {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: bold;
    }
}