$primary-color: #1d1d1f;
$secondary-color: #666666;
$third-color: #cec9c1;

$accent-color: #e4b133;

$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;

$navbar-color: #424242;