@import "../../variables";
@import '../../directions';

.item-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.page-title {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: $sce-primary-color;
}


.item-info {
    background-color: $sce-background-color;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;

    &__title {
        color: $sce-primary-color;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    &__description {
        color: $sce-text-color3;
        margin-bottom: 1.5rem;

        .ltr & {
            font-size: 1.3rem;
        }

        .rtl & {
            font-size: 1.4rem;
        }
    }

    &__details {
        &__label {
            color: $sce-text-color;
            font-size: 1rem;
            font-weight: bold;
        }

        &__value {
            color: $sce-text-color3;
            font-size: 1rem;
        }

        p {
            margin-bottom: 0.5rem;
        }

        span {
            font-size: 1.1rem;
        }


    }
}

.late-policy {
    background-color: $sce-background-color;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}



.borrow-form {
    background-color: $sce-background-color;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../../assets/sceBg1.png);
    background-repeat: no-repeat;
    background-size: contain;

    &__title {
        color: $sce-primary-color;
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 2rem;

    }

    &__request {
        width: 70%;
        padding: 30px 0;
        background: #18222e7c;
        border-radius: 1rem;
        color: white;
        transition: .2s;
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
    }

    &__field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2rem;
    }

    &__label {
        font-weight: 700;
        margin: 0 auto;


        .ltr & {
            font-size: 1.3rem;

        }

        .rtl & {
            font-size: 1.4rem;
        }
    }



    &__datetime-picker {
        padding: 10px;
        width: 250px;
        border: 1px solid $sce-primary-color;
        border-radius: 5px;
    }

    &__input {
        padding: 10px;
        width: 250px;
        border: 1px solid $sce-primary-color;
        border-radius: 5px;
    }

    &__textarea {
        max-height: 200px;
        min-height: 50px;
        width: 250px;
        max-width: 250px;
        min-width: 250px;

        overflow-y: scroll;
        overflow-x: scroll;
        border: 1px solid $sce-primary-color;
        border-radius: 5px;
    }

    &__button {
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        background-color: $sce-primary-color;
        color: $sce-text-color;
        border: none;
        margin: 0 auto;

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}


.signature-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.signature-modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;

    h3 {
        color: $sce-text-color3;
        text-align: center;
    }

    p {
        font-size: 1rem;
        text-align: justify;
        color: $sce-primary-color;
    }
}

.signature-canvas {
    width: 100%;
    height: 180px;
    border: 1px solid #ccc;
    margin: 20px 0;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    width: 100%;

    button {
        background-color: $sce-primary-color;
        color: $sce-background-color;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: $sce-text-color2;
        }

        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}