@import "../../variables";

.item-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.page-title {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: $sce-primary-color;
}


.item-info {
    text-align: center;
    margin-bottom: 30px;
    background-color: $sce-background-color;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .item-title {
        color: $sce-primary-color;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .item-description {
        color: $sce-text-color3;
        font-size: 16px;
        font-weight: 400;

        .label {
            color: $sce-primary-color;
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    .item-details {
        .ltr & {
            text-align: left;
        }

        .rtl & {
            text-align: right;
        }

        .label {
            color: $sce-primary-color;
            font-size: 1.2rem;
            font-weight: 600;
        }

        p {
            color: $sce-text-color3;
            font-size: 1.2rem;
            font-weight: 400;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.late-policy,
.borrow-form {
    background-color: $sce-background-color;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    width: 100%;
}

.borrow-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    background-color: $sce-primary-color;
    color: $sce-text-color;
    border: none;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}


.signature-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
    z-index: 1000;
}

.signature-canvas {
    width: 100%;
    height: 180px;
    border: 1px solid #ccc;
    margin: 20px 0;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}